HTAB characters in RFC renderings

The rendering of [Section 3.1 of RFC 8941](https://httpwg.org/specs/rfc8941.html#rfc.section.3.1) has a bunch of these at the end of the examples there:

```html
<span class="error" title="HTAB character">␉</span>
```

That a U+2409 character (as opposed to U+09).

This doesn't appear in the official HTML rendering, nor is there anything in the (official) XML source that might contribute to this.  However, the XML that is in this repository is *different*:

```
$ diff -u <(curl https://www.rfc-editor.org/rfc/rfc8941.xml) <(curl https://httpwg.org/specs/rfc8941.xml) | wc
   2608   18771  190772
```

Sure enough, the `<sourcecode>` elements here include a HTAB.

The warning was generated by rfc2629.xslt; not xml2rfc.